<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Chat Bot</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="header">
        <h2>Chat GPT</h2>
    </div>
    <div class="chatbox">

    </div>

    <div class="form-input">
        <form>
            <input type="text" placeholder="Type your message here..." id="userInput">
            <input type="submit" value="Send" onclick="sendUserInput(event)">
        </form>
    </div>
</body>
<script src="/js/index.js"></script>

</html>